.weather {
  display: flex;
  flex-direction: column;
}

.weather__temp {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  display: flex;
  align-self: center;
  text-align: center;
  color: #FFFFFF;
}

.weather__temp-more {
  margin-bottom: 31px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}