.card {
  width: 423px;
  min-height: 858px;
  background: linear-gradient(167.44deg, #29B2DD 0%, #33AADD 47.38%, #2DC8EA 100%);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.card__picture {
  width: 200px;
  height: 200px;
  margin-bottom: 2px;
}